.not_found {
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  margin: 40px;
  background: $grey;
  display:flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    text-align: center;
    padding: 100px 150px;
    transform: translateY(50vh);
    opacity: 0;
    transition: all 1s $easeInOutExpo;

    &.animation {
      transform: translateY(0);
      opacity: 1;
    }

    @media(max-width: 1024px) {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    img {

      position: absolute;
      transform: scale(0);
      transition: all 1s $easeInOutExpo;

      &.animation {
        transform: scale(1);
      }

      @media(max-width: 1024px) {
        position: inherit;
        margin: 20px 0;
        max-width: 20% !important;
      }

      &.one {
        max-width: 171px;
        top: 0;
        right: 0;
      }

      &.two {
        max-width: 120px;
        bottom: 0;
        left: 0;

        @media(max-width: 1024px) {
          margin-top: 20px;
        }

      }

    }

    h1 {
      font-size: 50px;

      @media(max-width: 1024px) {
        margin-top: 0;
      }

    }

    p {
      font-size: 16px;
      font-family: GTWalsheimPro;
      margin: 4px 0;
    }

    button {
      font-size: 25px;
      color: $black;
      font-family: GTWalsheimPro;
      margin-top: 30px;

      img {
        width: 20px;
        margin: 15px 0 0 10px;
      }

      @media(max-width: 1024px) {
        font-size: 20px;
      }

      @media(min-width: 1025px) {

        &:hover {

          &::before {
            border-bottom:solid 1px $black;
          }

        }

      }

      &::before {
        border-bottom:solid 1px $black;
        width: 100%;
      }

    }

  }

}
