.about {
  background-color: $grey;
  width: 100%;
  margin-top: 100vh;
  height: calc(100vh - 180px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 60px 43% 20px 40px;
  transition: margin 1s $easeInOutExpo;

  @media(max-width: 1024px) {
    padding: 0;
    background-color: $white;
  }

  &.animated {
    height: auto;
    min-height: calc(100vh - 180px);
  }

  &.animation {
    margin-top: 0;
    height: auto;
    min-height: calc(100vh - 180px);
  }

  h1 {
    font-size: 50px;
    font-weight: bold;

    @media(max-width: 1024px) {
      margin: 20px 0 0 0 !important;
      font-size: 30px;
    }

  }

  h1, .container {
    line-height: 20;
    transition: all 1s;
    margin: 0;

    &.animation {
      line-height: 1.4;
    }
  }

  .container {

    @media(max-width: 1024px) {
      margin: 0 0 20px 0;
    }

    h2 {
      font-size: 25px;
      font-family: GTWalsheimPro;
      margin-top: 10px;
      margin-bottom: 40px;

      @media(max-width: 1024px) {
        font-size: 20px;
      }

    }

    p {
      font-size: 16px;
      font-family: GTWalsheimPro;
    }

    a {

      @extend .btn-anim;
      padding-bottom: 0 !important;

      @media(min-width: 1025px) {

        &:hover {

          &::before {
            border-bottom:solid 1px $black;
          }

        }

      }

      &::before {
        border-bottom:solid 1px $black;
        width: 100% !important;
      }

    }

    div {

      display: flex;
      align-items: center;
      margin-top: 120px;

      @media(max-width: 1024px) {
        margin-top: 20px;
      }

      a {

        text-decoration: none;
        font-size: 25px;
        font-family: GTWalsheimPro;

        @media(max-width: 1024px) {
          font-size: 20px;
        }

        @media(min-width: 1025px) {

          &:hover {

            &::before {
              border-bottom:solid 1px $black;
            }

          }

        }

        &::before {
          border-bottom:solid 1px $black;
          width: 100%;
        }

      }

      img {
        width: 20px;
        margin-left: 10px;
      }

    }

  }

  > img {
    position: fixed;
    top: 120vh;
    right: 100px;
    height: calc(100vh - 120px);
    max-width: calc(40vw - 100px);
    transition: all 0.6s $easeInOutExpo;
    object-fit: cover;

    @media(max-width: 1024px) {
      position: relative;
      top: auto !important;
      right: auto;
      height: calc(100vh - 130px);
      width: 100vw;
      max-width: none;
    }

    &.animation {
      top: 60px;
    }
  }

  .no_picture {
    position: fixed;
    top: 120vh;
    right: 100px;
    height: calc(100vh - 120px);
    width: calc(40vw - 100px);
    transition: all 0.6s $easeInOutExpo;
    background: $no_picture;

    @media(max-width: 1024px) {
      position: relative;
      top: auto !important;
      height: calc(100vh - 130px);
      right: auto;
      width: 100vw;
      max-width: none;
    }

    &.animation {
      top: 60px;
    }
  }

}
