.menu {
  position: fixed;
  width: calc(100vw - 120px);
  height: calc(100vh - 120px);
  transform: scaleY(0);
  transform-origin: top;
  top: 60px;
  z-index: 1000000000;
  background: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s $easeInOutExpo;

  @media(max-width: 1024px) {
    width: 100vw;
    height: calc(100vh - 60px);
    z-index: 20;
  }


  &.animation {
    transform: scaleY(1);
  }

  .languages {
    position: absolute;
    top: -60px;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 1024px) {
      left: 10px;
    }

    span {
      font-size: 14px;
      font-family: GTWalsheimPro;
      margin: 0 5px 5px 5px;
    }

    button {
      color: $black;
      font-size: 14px;
      font-family: GTWalsheimPro;

      &:hover {

        font-weight: bold;

        &::before {
          border-bottom:solid 2px $black;
        }

      }

      &::before {
        border-bottom:solid 2px $black;
      }

    }

  }

  .menu-link {
    color: $black;
    margin: 40px 10px;
    font-size: 60px;
    font-family: GTWalsheimPro;

    @media(max-width: 1024px) {
      font-size: 30px;
    }

    &:hover {

      font-weight: bold;

      &::before {
        border-bottom:solid 2px $black;
      }

    }

    &::before {
      border-bottom:solid 2px $black;
    }

  }

}
