.menu {
  position: fixed;
  width: calc(100vw - 120px);
  height: calc(100vh - 120px);
  transform: scaleY(0);
  transform-origin: top;
  top: 60px;
  z-index: 5;
  background: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s $easeInOutExpo;

  &.animation {
    transform: scaleY(1);
  }

  .menu-link {
    color: $black;
    margin: 40px 10px;
    font-size: 60px;
    font-family: GTWalsheimPro;

    &:hover {

      font-weight: bold;

      &::before {
        border-bottom:solid 2px $black;
      }

    }

    &::before {
      border-bottom:solid 2px $black;
    }

  }

}
