.navbar {

  .nav-button {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 60px;
    z-index: 20;
    height: 60px;
    align-items: center;
    cursor: pointer;

    @media(max-width: 1024px) {
      right:10px;
      position: fixed;
    }


    .nav-icon {
      width: 30px;
      height: 20px;
      /*position: relative;*/
      /*margin: 50px auto;*/
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2),&:nth-child(3) {
          top: 8px;
          width: 0%;
        }

        &:nth-child(4) {
          top: 16px;
        }
      }

      &.open span{

        &:nth-child(1) {
          top: 8px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
          width: 100%;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          width: 100%;
        }

        &:nth-child(4) {
          top: 8px;
          width: 0%;
          left: 50%;
        }

      }

    }

  }

  .go-to-home {
    position: absolute;
    display: flex;
    align-items: center;
    height: 60px;
    left: 60px;
    top: 0;

    @media(max-width: 1024px) {
      z-index: 11;
      position: fixed;
      left: 10px;
    }


    img {
      width: 13px;
    }

    button {
      font-size: 14px;
      color: $black;
      font-family: GTWalsheimPro;
      z-index: 20;
      margin-left: 10px;
      padding-top: 5px;

      &:hover {

        &::before {
          border-bottom:solid 2px $black;
        }

      }

      &::before {
        border-bottom:solid 2px $black;
      }

    }

  }

  .logo {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 60px;
    align-items: center;

    @media(max-width: 1024px) {
      position: fixed;
      background: $white;
    }

  }

  .logo-picture {
    height: 30px;
  }

  .author {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 60px;
    z-index: 10;
    height: 100vh;
    align-items: center;
    bottom: 0;
    left: 0;

    @media(max-width: 1024px) {
      display: none;
    }

    span {
      transform: rotate(-90deg);
      text-align: center;
      white-space: nowrap;
      font-family: GTWalsheimPro;
      margin-top: 100%;
    }

  }

  .page-active {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 60px;
    z-index: 10;
    height: 100vh;
    align-items: center;
    bottom: 0;
    right: 0;

    @media(max-width: 1024px) {
      display: none;
    }

    span {
      transform: rotate(90deg);
      white-space: nowrap;
      font-family: GTWalsheimPro;
      margin-top: -100%;
    }

  }

  .slider-infos {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 10;
    height: 60px;
    align-items: center;
    bottom: 0;
    left: 0;
    font-family: GTWalsheimPro;

    button {

      background: none;
      border:none;
      cursor: pointer;
      display: flex;
      align-items: center;

      .slider-picture {
        height: 10px;
      }

    }

  }

}
