.container-out {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
  padding: 60px;
  position: relative; }
  @media (max-width: 1024px) {
    .container-out {
      padding: 60px 0; } }
  .container-out.responsive {
    padding: 60px 40px; }

.container-in {
  background-color: #FFFFFF;
  width: 100%;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1); }

.loader {
  position: fixed;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  z-index: 100000000000;
  pointer-events: none;
  overflow: hidden;
  top: 0;
  left: 0; }
  .loader .background {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 1;
    transition: transform .2s ease-out;
    transform: scale3d(0, 0, 0);
    animation: loader-in .45s ease .25s 1 normal forwards; }
    .loader .background .inner {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      bottom: 0;
      width: 100px;
      height: 100px;
      animation: loader-waves 4s infinite linear;
      background-image: url("../../img/loader.png");
      background-repeat: repeat-x;
      background-position: 0; }
  .loader.mini {
    bottom: 0;
    height: 80px;
    top: auto;
    background: #f7f7f7;
    margin: 0 60px;
    width: calc(100vw - 120px); }
    .loader.mini .background {
      width: 40px;
      height: 40px;
      background: #f7f7f7;
      border-radius: 20px; }
      .loader.mini .background .inner {
        width: 40px;
        height: 40px;
        animation: loader-mini-waves 4s infinite linear; }

@keyframes loader-waves {
  100% {
    background-position: -538px 0px; } }
@keyframes loader-mini-waves {
  100% {
    background-position: -290px 0px; } }
@keyframes loader-in {
  0% {
    transform: scale3d(0.7, 0.7, 0.7); }
  50% {
    transform: scale3d(1.2, 1.2, 1.2); }
  80% {
    transform: scale3d(0.95, 0.95, 0.95); }
  100% {
    transform: scale3d(1, 1, 1); } }
.navbar .nav-button {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 60px;
  z-index: 20;
  height: 60px;
  align-items: center;
  cursor: pointer; }
  @media (max-width: 1024px) {
    .navbar .nav-button {
      right: 10px;
      position: fixed; } }
  .navbar .nav-button .nav-icon {
    width: 30px;
    height: 20px;
    /*position: relative;*/
    /*margin: 50px auto;*/
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer; }
    .navbar .nav-button .nav-icon span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #000000;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out; }
      .navbar .nav-button .nav-icon span:nth-child(1) {
        top: 0px; }
      .navbar .nav-button .nav-icon span:nth-child(2), .navbar .nav-button .nav-icon span:nth-child(3) {
        top: 8px;
        width: 0%; }
      .navbar .nav-button .nav-icon span:nth-child(4) {
        top: 16px; }
    .navbar .nav-button .nav-icon.open span:nth-child(1) {
      top: 8px;
      width: 0%;
      left: 50%; }
    .navbar .nav-button .nav-icon.open span:nth-child(2) {
      transform: rotate(45deg);
      width: 100%; }
    .navbar .nav-button .nav-icon.open span:nth-child(3) {
      transform: rotate(-45deg);
      width: 100%; }
    .navbar .nav-button .nav-icon.open span:nth-child(4) {
      top: 8px;
      width: 0%;
      left: 50%; }
.navbar .go-to-home {
  position: absolute;
  display: flex;
  align-items: center;
  height: 60px;
  left: 60px;
  top: 0; }
  @media (max-width: 1024px) {
    .navbar .go-to-home {
      z-index: 11;
      position: fixed;
      left: 10px; } }
  .navbar .go-to-home img {
    width: 13px;
    cursor: pointer;
    z-index: 20; }
  .navbar .go-to-home button {
    font-size: 14px;
    color: #000000;
    font-family: GTWalsheimPro;
    z-index: 20;
    margin-left: 10px;
    padding-top: 5px; }
    @media (min-width: 1025px) {
      .navbar .go-to-home button:hover::before {
        border-bottom: solid 1px #000000; } }
    .navbar .go-to-home button::before {
      border-bottom: solid 1px #000000; }
    @media (max-width: 1024px) {
      .navbar .go-to-home button {
        display: none; } }
.navbar .logo {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
  align-items: center; }
  @media (max-width: 1024px) {
    .navbar .logo {
      position: fixed;
      background: #FFFFFF; } }
  .navbar .logo .logo-picture {
    height: 30px; }
  .navbar .logo button {
    border: none;
    background: none;
    cursor: pointer; }
.navbar .author {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 60px;
  z-index: 10;
  height: 100vh;
  align-items: center;
  bottom: 0;
  left: 0; }
  @media (max-width: 1024px) {
    .navbar .author {
      display: none; } }
  .navbar .author span {
    transform: rotate(-90deg);
    backface-visibility: initial;
    text-align: center;
    white-space: nowrap;
    font-family: GTWalsheimPro;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center; }
.navbar .smartphone-sliders {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 40px;
  z-index: 10;
  height: 100vh;
  align-items: center;
  bottom: 0; }
  .navbar .smartphone-sliders.left {
    left: 0; }
  .navbar .smartphone-sliders.right {
    right: 0; }
  .navbar .smartphone-sliders button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 60px;
    width: 60px;
    justify-content: center;
    background: #FFFFFF; }
    .navbar .smartphone-sliders button img {
      width: 10px; }
.navbar .page-active {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 60px;
  z-index: 10;
  height: 100vh;
  align-items: center;
  bottom: 0;
  right: 0; }
  @media (max-width: 1024px) {
    .navbar .page-active {
      display: none; } }
  .navbar .page-active span {
    transform: rotate(90deg);
    backface-visibility: initial;
    white-space: nowrap;
    font-family: GTWalsheimPro;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center; }
.navbar .slider-infos {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
  height: 60px;
  align-items: center;
  bottom: 0;
  left: 0;
  font-family: GTWalsheimPro;
  background: #FFFFFF; }
  .navbar .slider-infos button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center; }
    @media (max-width: 1024px) {
      .navbar .slider-infos button {
        display: none; } }
    .navbar .slider-infos button .slider-picture {
      height: 10px; }

.about {
  background-color: #f7f7f7;
  width: 100%;
  margin-top: 100vh;
  height: calc(100vh - 180px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 60px 43% 20px 40px;
  transition: margin 1s cubic-bezier(1, 0, 0, 1); }
  @media (max-width: 1024px) {
    .about {
      padding: 0;
      background-color: #FFFFFF; } }
  .about.animated {
    height: auto;
    min-height: calc(100vh - 180px); }
  .about.animation {
    margin-top: 0;
    height: auto;
    min-height: calc(100vh - 180px); }
  .about h1 {
    font-size: 50px;
    font-weight: bold; }
    @media (max-width: 1024px) {
      .about h1 {
        margin: 20px 0 0 0 !important;
        font-size: 30px; } }
  .about h1, .about .container {
    line-height: 20;
    transition: all 1s;
    margin: 0; }
    .about h1.animation, .about .container.animation {
      line-height: 1.4; }
  @media (max-width: 1024px) {
    .about .container {
      margin: 0 0 20px 0; } }
  .about .container h2 {
    font-size: 25px;
    font-family: GTWalsheimPro;
    margin-top: 10px;
    margin-bottom: 40px; }
    @media (max-width: 1024px) {
      .about .container h2 {
        font-size: 20px; } }
  .about .container p {
    font-size: 16px;
    font-family: GTWalsheimPro; }
  .about .container a {
    padding-bottom: 0 !important; }
    @media (min-width: 1025px) {
      .about .container a:hover::before {
        border-bottom: solid 1px #000000; } }
    .about .container a::before {
      border-bottom: solid 1px #000000;
      width: 100% !important; }
  .about .container div {
    display: flex;
    align-items: center;
    margin-top: 120px; }
    @media (max-width: 1024px) {
      .about .container div {
        margin-top: 20px; } }
    .about .container div a {
      text-decoration: none;
      font-size: 25px;
      font-family: GTWalsheimPro; }
      @media (max-width: 1024px) {
        .about .container div a {
          font-size: 20px; } }
      @media (min-width: 1025px) {
        .about .container div a:hover::before {
          border-bottom: solid 1px #000000; } }
      .about .container div a::before {
        border-bottom: solid 1px #000000;
        width: 100%; }
    .about .container div img {
      width: 20px;
      margin-left: 10px; }
  .about > img {
    position: fixed;
    top: 120vh;
    right: 100px;
    height: calc(100vh - 120px);
    max-width: calc(40vw - 100px);
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
    object-fit: cover; }
    @media (max-width: 1024px) {
      .about > img {
        position: relative;
        top: auto !important;
        right: auto;
        height: calc(100vh - 130px);
        width: 100vw;
        max-width: none; } }
    .about > img.animation {
      top: 60px; }
  .about .no_picture {
    position: fixed;
    top: 120vh;
    right: 100px;
    height: calc(100vh - 120px);
    width: calc(40vw - 100px);
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
    background: #232222; }
    @media (max-width: 1024px) {
      .about .no_picture {
        position: relative;
        top: auto !important;
        height: calc(100vh - 130px);
        right: auto;
        width: 100vw;
        max-width: none; } }
    .about .no_picture.animation {
      top: 60px; }

.contact {
  background-color: #f7f7f7;
  width: 100%;
  margin-top: 100vh;
  height: calc(100vh - 180px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 60px 40px 20px 43%;
  transition: all 1s cubic-bezier(1, 0, 0, 1); }
  @media (max-width: 1024px) {
    .contact {
      padding: 0;
      background-color: #FFFFFF; } }
  .contact.animated {
    height: auto;
    min-height: calc(100vh - 180px); }
  .contact.animation {
    margin-top: 0;
    height: auto;
    min-height: calc(100vh - 180px); }
  .contact .modal {
    z-index: 10000;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(1, 0, 0, 1); }
    .contact .modal.animation {
      opacity: 1; }
    .contact .modal .modal-container {
      max-width: 80%;
      width: 600px;
      background: #FFFFFF;
      padding: 30px; }
      .contact .modal .modal-container .text-container {
        background: #FFFFFF;
        padding: 60px;
        position: relative;
        transform: scale(0);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
        @media (max-width: 1024px) {
          .contact .modal .modal-container .text-container {
            padding: 100px 20px; } }
        .contact .modal .modal-container .text-container.animation {
          transform: scale(1);
          background: #f7f7f7; }
        .contact .modal .modal-container .text-container h2 {
          font-size: 50px;
          margin-top: 0; }
          @media (max-width: 1024px) {
            .contact .modal .modal-container .text-container h2 {
              font-size: 30px; } }
        .contact .modal .modal-container .text-container p {
          font-family: GTWalsheimPro;
          font-size: 16px; }
        .contact .modal .modal-container .text-container div {
          display: flex;
          align-items: center; }
          .contact .modal .modal-container .text-container div button {
            font-size: 25px;
            color: #000000;
            font-family: GTWalsheimPro; }
            @media (max-width: 1024px) {
              .contact .modal .modal-container .text-container div button {
                font-size: 20px; } }
            @media (min-width: 1025px) {
              .contact .modal .modal-container .text-container div button:hover::before {
                border-bottom: solid 1px #000000; } }
            .contact .modal .modal-container .text-container div button::before {
              border-bottom: solid 1px #000000;
              width: 100%; }
          .contact .modal .modal-container .text-container div img {
            width: 20px;
            margin-left: 10px; }
        .contact .modal .modal-container .text-container > img {
          width: 116px;
          max-width: 100%;
          position: absolute;
          bottom: -10px;
          right: 5px;
          opacity: 0;
          transform: translateY(-200px);
          transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
          .contact .modal .modal-container .text-container > img.animation {
            opacity: 1;
            transform: translateY(0); }
  .contact h1, .contact .container {
    line-height: 20;
    transition: all 1s cubic-bezier(1, 0, 0, 1); }
    .contact h1.animation, .contact .container.animation {
      line-height: 1.4; }
  .contact h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px; }
    @media (max-width: 1024px) {
      .contact h1 {
        margin: 20px 0 0 0;
        font-size: 30px; } }
  @media (max-width: 1024px) {
    .contact .container {
      margin: 0 0 20px 0;
      text-align: justify; } }
  .contact .container form {
    display: flex;
    flex-direction: column;
    margin: 50px 0; }
    .contact .container form input, .contact .container form textarea {
      color: #000000; }
    .contact .container form input::placeholder, .contact .container form textarea::placeholder {
      color: #918e8d; }
    .contact .container form input, .contact .container form textarea, .contact .container form input::placeholder, .contact .container form textarea::placeholder {
      width: 100%;
      margin: 10px 0;
      font-size: 25px;
      font-family: GTWalsheimPro;
      background: none;
      border: none;
      padding: 0; }
      @media (max-width: 1024px) {
        .contact .container form input, .contact .container form textarea, .contact .container form input::placeholder, .contact .container form textarea::placeholder {
          font-size: 20px; } }
    .contact .container form .submit {
      display: flex;
      align-items: center; }
      .contact .container form .submit button {
        color: #000000;
        font-size: 25px;
        font-family: GTWalsheimPro; }
        @media (max-width: 1024px) {
          .contact .container form .submit button {
            font-size: 20px; } }
        @media (min-width: 1025px) {
          .contact .container form .submit button:hover::before {
            border-bottom: solid 1px #000000; } }
        .contact .container form .submit button::before {
          border-bottom: solid 1px #000000;
          width: 100%; }
      .contact .container form .submit img {
        width: 20px;
        margin-left: 15px; }
  .contact .container p {
    font-size: 16px;
    font-family: GTWalsheimPro; }
  .contact .container a {
    font-size: 16px;
    font-family: GTWalsheimPro;
    color: #000000;
    margin: 0 15px 0 0;
    text-decoration: none; }
    @media (min-width: 1025px) {
      .contact .container a:hover::before {
        border-bottom: solid 1px #000000; } }
    .contact .container a::before {
      border-bottom: solid 1px #000000;
      width: 100% !important; }
  .contact .absolute-picture {
    position: fixed;
    top: 120vh;
    left: 100px;
    height: calc(100vh - 120px);
    max-width: calc(40vw - 100px);
    object-fit: cover;
    transition: all 0.6s cubic-bezier(1, 0, 0, 1); }
    .contact .absolute-picture.animation {
      top: 60px; }
    @media (max-width: 1024px) {
      .contact .absolute-picture {
        position: relative;
        top: auto !important;
        left: auto;
        height: calc(100vh - 130px);
        width: 100vw;
        max-width: none; } }
  .contact .no_picture {
    position: fixed;
    top: 120vh;
    left: 100px;
    height: calc(100vh - 120px);
    width: calc(40vw - 100px);
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
    background: #232222; }
    @media (max-width: 1024px) {
      .contact .no_picture {
        position: relative;
        top: auto !important;
        left: auto;
        height: calc(100vh - 130px);
        width: 100vw;
        max-width: none; } }
    .contact .no_picture.animation {
      top: 60px; }

.menu {
  position: fixed;
  width: calc(100vw - 120px);
  height: calc(100vh - 120px);
  transform: scaleY(0);
  transform-origin: top;
  top: 60px;
  z-index: 1000000000;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1); }
  @media (max-width: 1024px) {
    .menu {
      width: 100vw;
      height: calc(100vh - 60px);
      z-index: 20; } }
  .menu.animation {
    transform: scaleY(1); }
  .menu .languages {
    position: absolute;
    top: -60px;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1024px) {
      .menu .languages {
        left: 10px; } }
    .menu .languages span {
      font-size: 14px;
      font-family: GTWalsheimPro;
      margin: 0 5px 5px 5px; }
    .menu .languages button {
      color: #000000;
      font-size: 14px;
      font-family: GTWalsheimPro; }
      @media (min-width: 1025px) {
        .menu .languages button:hover {
          font-weight: bold; }
          .menu .languages button:hover::before {
            border-bottom: solid 1px #000000; } }
      .menu .languages button::before {
        border-bottom: solid 1px #000000; }
  .menu .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1024px) {
      .menu .items {
        margin-top: -100px; } }
    .menu .items .menu-link {
      color: #000000;
      margin: 40px 10px;
      font-size: 60px;
      font-family: GTWalsheimPro; }
      @media (max-width: 1024px) {
        .menu .items .menu-link {
          font-size: 30px; } }
      @media (min-width: 1025px) {
        .menu .items .menu-link:hover {
          font-weight: bold; }
          .menu .items .menu-link:hover::before {
            border-bottom: solid 1px #000000; } }
      .menu .items .menu-link::before {
        border-bottom: solid 1px #000000; }

.home {
  background-color: #f7f7f7;
  width: 100%;
  height: calc(100vh - 120px);
  overflow: hidden;
  position: relative; }
  .home.old {
    animation: old 0.7s; }
@keyframes old {
  from {
    transform: translateX(0);
    opacity: 1; }
  to {
    transform: translateX(-100vw);
    opacity: 0; } }
  .home.new {
    animation: new 0.7s; }
@keyframes new {
  from {
    transform: translateX(100vw);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
  .home:hover .hover {
    opacity: 1; }
  .home video, .home > img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .home .hover {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    padding: 60px;
    transition: 0.4s cubic-bezier(1, 0, 0, 1);
    opacity: 0;
    color: #FFFFFF !important;
    cursor: pointer; }
    @media (max-width: 1024px) {
      .home .hover {
        padding: 20px;
        opacity: 1;
        height: auto;
        top: auto;
        bottom: 0; } }
    .home .hover h1 {
      font-size: 50px;
      font-weight: bold; }
      @media (max-width: 1024px) {
        .home .hover h1 {
          font-size: 30px;
          margin-bottom: 5px; } }
    .home .hover h2 {
      font-size: 25px;
      font-family: GTWalsheimPro; }
      @media (max-width: 1024px) {
        .home .hover h2 {
          font-size: 20px;
          margin-top: 5px;
          margin-bottom: 40px; } }
    .home .hover .see-project {
      display: flex;
      align-items: center; }
      .home .hover .see-project img {
        width: auto;
        height: auto;
        margin: 0 10px; }
        @media (max-width: 1024px) {
          .home .hover .see-project img {
            width: 20px;
            margin-bottom: 5px; } }
      .home .hover .see-project button {
        font-size: 25px;
        color: #FFFFFF !important;
        font-family: GTWalsheimPro; }
        @media (max-width: 1024px) {
          .home .hover .see-project button {
            font-size: 20px; } }
        @media (min-width: 1025px) {
          .home .hover .see-project button:hover {
            color: #FFFFFF !important; }
            .home .hover .see-project button:hover::before {
              border-bottom: solid 1px #FFFFFF; } }
        .home .hover .see-project button::before {
          border-bottom: solid 1px #FFFFFF;
          width: 100%; }

.home-animation {
  position: absolute;
  width: 100%;
  height: calc(100vh - 120px);
  overflow: hidden;
  margin-top: 50vh;
  z-index: 50; }
  .home-animation svg {
    position: absolute;
    z-index: 50; }
    .home-animation svg path {
      display: none;
      z-index: 50; }

.project {
  position: absolute;
  width: 100%;
  height: calc(100vh - 120px);
  margin-top: 50vh;
  z-index: 2;
  background: #FFFFFF;
  line-height: 30;
  transition: line-height 1s cubic-bezier(1, 0, 0, 1), background 1s cubic-bezier(1, 0, 0, 1), opacity 0.5s cubic-bezier(1, 0, 0, 1), padding 0.5s cubic-bezier(1, 0, 0, 1); }
  .project h1 {
    margin: 60px;
    font-size: 50px;
    font-weight: bold;
    transition: all 1s cubic-bezier(1, 0, 0, 1); }
    @media (max-width: 1024px) {
      .project h1 {
        margin: 20px;
        font-size: 30px; } }
  .project > div * {
    transition: all 1s cubic-bezier(1, 0, 0, 1); }
  .project.animation {
    background: #f7f7f7;
    line-height: 1.3; }
  .project.animated {
    opacity: 0;
    padding-top: 50vh; }
  .project.line-height {
    line-height: 30; }
  .project .links div {
    display: flex;
    align-items: center;
    margin: 10px 0; }
    .project .links div a {
      font-size: 16px;
      color: #000000;
      font-family: GTWalsheimProBold; }
      @media (min-width: 1025px) {
        .project .links div a:hover::before {
          border-bottom: solid 1px #000000; } }
      .project .links div a::before {
        border-bottom: solid 1px #000000;
        width: 100%; }
    .project .links div img {
      width: 13px;
      margin-left: 10px;
      margin-bottom: 5px; }
  .project .description {
    display: flex;
    width: 100%;
    padding: 0 60px;
    justify-content: space-between;
    background: #f7f7f7;
    transition: background 1s cubic-bezier(1, 0, 0, 1); }
    @media (max-width: 1024px) {
      .project .description {
        padding: 0 20px 40px 20px;
        flex-direction: column; } }
    .project .description .label {
      font-size: 16px;
      display: block;
      font-family: GTWalsheimProBold; }
    .project .description .text-container {
      display: flex;
      flex-direction: column;
      width: 55%; }
      @media (max-width: 1024px) {
        .project .description .text-container {
          width: 100%;
          order: 1; } }
    .project .description .categories {
      display: flex;
      flex-direction: column;
      width: 30%; }
      @media (max-width: 1024px) {
        .project .description .categories {
          width: 100%;
          order: 0; } }
    .project .description .text {
      margin: 4px 0 20px 0;
      padding: 0;
      font-family: GTWalsheimPro; }
  .project .pictures {
    background-color: #f7f7f7;
    padding: 0 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 1s cubic-bezier(1, 0, 0, 1);
    padding-top: 100px; }
    @media (max-width: 1024px) {
      .project .pictures {
        padding: 0 20px; } }
    .project .pictures .picture-title {
      text-align: left;
      font-size: 16px;
      font-family: GTWalsheimProBold;
      width: 100%;
      max-width: 800px;
      margin: 0 0 5px 0; }
    .project .pictures .picture-description {
      text-align: justify;
      font-size: 16px;
      font-family: GTWalsheimPro;
      width: 100%;
      max-width: 800px;
      margin: 5px 0 10px 0; }
    .project .pictures img {
      margin: 0 0 100px 0;
      max-width: 800px; }
      @media (max-width: 1024px) {
        .project .pictures img {
          max-width: 100%;
          margin-bottom: 30px; } }
  .project .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: GTWalsheimPro;
    font-size: 14px;
    background: #FFFFFF; }
    .project .navigation img {
      width: 13px;
      margin: 0 10px; }
    .project .navigation button {
      font-size: 14px;
      color: #000000;
      font-family: GTWalsheimPro; }
      @media (max-width: 1024px) {
        .project .navigation button {
          display: none; } }
      .project .navigation button:hover::before {
        border-bottom: solid 1px #000000; }
      .project .navigation button::before {
        border-bottom: solid 1px #000000;
        width: 100%; }

.not_found {
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  margin: 40px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center; }
  .not_found .container {
    position: relative;
    text-align: center;
    padding: 100px 150px;
    transform: translateY(50vh);
    opacity: 0;
    transition: all 1s cubic-bezier(1, 0, 0, 1); }
    .not_found .container.animation {
      transform: translateY(0);
      opacity: 1; }
    @media (max-width: 1024px) {
      .not_found .container {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
    .not_found .container img {
      position: absolute;
      transform: scale(0);
      transition: all 1s cubic-bezier(1, 0, 0, 1); }
      .not_found .container img.animation {
        transform: scale(1); }
      @media (max-width: 1024px) {
        .not_found .container img {
          position: inherit;
          margin: 20px 0;
          max-width: 20% !important; } }
      .not_found .container img.one {
        max-width: 171px;
        top: 0;
        right: 0; }
      .not_found .container img.two {
        max-width: 120px;
        bottom: 0;
        left: 0; }
        @media (max-width: 1024px) {
          .not_found .container img.two {
            margin-top: 20px; } }
    .not_found .container h1 {
      font-size: 50px; }
      @media (max-width: 1024px) {
        .not_found .container h1 {
          margin-top: 0; } }
    .not_found .container p {
      font-size: 16px;
      font-family: GTWalsheimPro;
      margin: 4px 0; }
    .not_found .container button {
      font-size: 25px;
      color: #000000;
      font-family: GTWalsheimPro;
      margin-top: 30px; }
      .not_found .container button img {
        width: 20px;
        margin: 15px 0 0 10px; }
      @media (max-width: 1024px) {
        .not_found .container button {
          font-size: 20px; } }
      @media (min-width: 1025px) {
        .not_found .container button:hover::before {
          border-bottom: solid 1px #000000; } }
      .not_found .container button::before {
        border-bottom: solid 1px #000000;
        width: 100%; }

* {
  box-sizing: border-box;
  max-width: 100%;
  outline: none;
  backface-visibility: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif; }

a {
  text-decoration: none; }

.none {
  display: none !important; }

@font-face {
  font-family: GTWalsheimPro;
  src: url("../../fonts/gt_walsheim_pro/GT-Walsheim-Pro-Light.ttf"); }
@font-face {
  font-family: GTWalsheimProBold;
  src: url("../../fonts/gt_walsheim_pro/GT-Walsheim-Pro-Bold.ttf"); }
.btn-anim, .about .container a, .contact .container a {
  display: inline-block;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
  background: none;
  border: none;
  padding: 0;
  padding-bottom: 5px; }
  @media (min-width: 1025px) {
    .btn-anim:hover, .about .container a:hover, .contact .container a:hover {
      color: #000000; }
      .btn-anim:hover::before, .about .container a:hover::before, .contact .container a:hover::before {
        animation: draw 0.5s forwards; }
    @keyframes draw {
      from {
        width: 0; }
      to {
        width: 100%; } } }
  .btn-anim::before, .about .container a::before, .contact .container a::before {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    width: 0%;
    left: 0%;
    margin: 0 auto;
    transition: all 0.5s; }

.opacity-0 {
  opacity: 0; }

.bg-white {
  background: #FFFFFF !important; }

/*# sourceMappingURL=index.css.map */
